<html>
<head>
  <title><%= title %></title>
  <style type="text/css">body { Font-family: arial} h1 { font-size: 150% }</style>
  <link rel="shortcut icon" href="<%= favicon %>" type="image/vnd.microsoft.icon" />
  <link href="/?jsdavAction=asset&&assetName=SemanticUI%2Fsemantic.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <h1>Index for <%= current_path %> </h1>
  <table>
    <!--header-->
    <tr><th width="24"></th><th>Name</th><th>Type</th><th>Size</th><th>Last modified</th></tr>
    <tr><td colspan="5"><hr /></td></tr>
<!--    <tr>-->
      <!--<td>{%= if item.parentIcon %}<a href="{{ item.parentFullPath }}"><img src="{{ item.parentIcon }}" width="24" alt="Parent" />'+item.parentUri+'</a></td>-->
      <!--<td><a href=" + {{ item.parentFullPath }} + ">..</a></td>-->
      <!--<td>[{{ item.parent }}]</td>-->
      <!--<td></td>-->
      <!--<td></td>-->
    <!--</tr>-->
    <!--file items-->
    <% items.forEach(function(item,index){ %>
    <tr>
      <% if(item.icon) {%>
          <td><a href="<%= item.fullPath %>"><img src="<%= item.icon %>" alt="" width="24" /></a></td>
      <% } else { %>
          <td></td>
      <% } %>
      <% if(item.collection) {%>
          <td><a href="<%= item.fullPath %>"><%= item.displayName %></a></td>
      <% } else { %>
          <td><a href="<%= item.fullPath %>" download="<%= item.displayName %>"><%= item.displayName %></a></td>
      <% } %>
      <td><%= item.type %></td>
      <td><%= item.size %></td>
      <td><%= item.lastmodified %></td>
    </tr>
    <% }); %>
    <tr><td colspan="5"><hr /></td></tr>
    <!--action form-->
    <tr>
      <td colspan="2">
        <form method="post" action="">
          <h3>Create new folder</h3>
          <input type="hidden" name="jsdavAction" value="mkcol" />
          Name: <input type="text" name="name" />
          <br />
          <input type="submit" value="create" />
        </form>
        <form method="post" action="" enctype="multipart/form-data">
          <h3>Upload file</h3>
          <input type="hidden" name="jsdavAction" value="put" />
          Name (optional): <input type="text" name="name" />
          <br />
          File: <input type="file" name="file" />
          <br />
          <input type="submit" value="upload" />
        </form>
      </td>
    </tr>
  </table>
</body>
</html>

