<html>
<head>
  <title><%= title %></title>
  <style type="text/css">body { Font-family: arial} h1 { font-size: 150% }</style>
  <link rel="shortcut icon" href="<%= favicon %>" type="image/vnd.microsoft.icon" />
  <script src="/?jsdavAction=asset&&assetName=jquery-1.11.0.min.js"></script>
  <link href="/?jsdavAction=asset&&assetName=SemanticUI%2Fsemantic.css" rel="stylesheet" type="text/css" />
  <script src="/?jsdavAction=asset&&assetName=SemanticUI%2Fsemantic.js"></script>
</head>
<body>
  <div class="ui fixed inverted main menu">
    <div class="container">
      <% if(hasParent) {%>
      <a class="icon item" href="<%= parentFullPath %>">
        <i class="left chevron icon"></i>
      </a>
      <% } else { %>
      <div class="icon item">
        <i class="left chevron disabled icon"></i>
      </div>
      <% } %>
      <a class="icon item" href="/">
        <i class="home icon"></i>
      </a>
      <div class="title item">
        <b><%= current_path %></b>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  </div>
  <div class="ui celled animated list">
  <% items.forEach(function(item,index){ %>
    <div class="item">
    <% if(item.icon) {%>
      <div class="ui mini image">
        <img src="<%= item.icon %>">
      </div>
    <% } %>
      <a class="content" href="<%= item.fullPath %>">
        <div class="header"><%= item.displayName %></div>
        <div class="meta">
          <% if(item.size) {%>
          <div class="size">Size: <%= item.size %> Bytes</div>
          <% } %>
          <div class="datetime">Last Modified:<%= item.lastmodified %></div>
        </div>
      </a>
    </div>
  <% }); %>
  </div>
  <form class="ui fluid form segment" method="post">
    <h4 class="ui dividing header">Create folder</h4>
    <div class="field">
      <input type="hidden" name="jsdavAction" value="mkcol" />
      <label>Folder Name</label>
      <input type="text" name="name">
    </div>
    <input type="submit" class="ui submit button" value="Create"></div>
  </form>
  <form class="ui fluid form segment" method="post" action="" enctype="multipart/form-data">
    <h4 class="ui dividing header">Upload file</h4>
    <input type="hidden" name="jsdavAction" value="put" />
    <label>Name (optional):</label>
    <input type="text" name="name" />
    <label>File:</label>
    <input type="file" name="file" />
    <input type="submit" class="ui submit button" value="Upload"></div>
  </form>
</body>
</html>

